<div id="<%= dom_id fulfillment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Fulfilled at:</strong>
    <%= fulfillment.fulfilled_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= fulfillment.kind %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Line item:</strong>
    <%= fulfillment.line_item_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this fulfillment", fulfillment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this fulfillment', edit_fulfillment_path(fulfillment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
